flow1
[
    {
        "id": "a54b9e2b.53abb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c341bd8d.b1a4b",
        "type": "rpi-gpio out",
        "z": "a54b9e2b.53abb",
        "name": "Green LED",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8ac5a6b.1b9e38",
        "type": "debug",
        "z": "a54b9e2b.53abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "98a62ebb.ea869",
        "type": "rpi-gpio in",
        "z": "a54b9e2b.53abb",
        "name": "Button",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "e8ac5a6b.1b9e38",
                "fa9a121e.f68d8"
            ]
        ]
    },
    {
        "id": "fa9a121e.f68d8",
        "type": "switch",
        "z": "a54b9e2b.53abb",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "9da243d1.5586e"
            ],
            [
                "da18b02d.0db0b"
            ]
        ]
    },
    {
        "id": "9da243d1.5586e",
        "type": "change",
        "z": "a54b9e2b.53abb",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "c341bd8d.b1a4b"
            ]
        ]
    },
    {
        "id": "da18b02d.0db0b",
        "type": "change",
        "z": "a54b9e2b.53abb",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "c341bd8d.b1a4b"
            ]
        ]
    }
]
